plates/

.python-version

*.onnx
*.pt

# build artifacts
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile

# binaries
*.so
*.a
*.dylib
*.o

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Android SDK
.gradle